<!-- Default home page -->
<div class="cabeceraAPP1">
  <h1>Primer Banco nacional</h1>
</div>

<div class="turnos">
  <div class="contenedor">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Turno</th>
            <th scope="col">Ventanilla</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row"></th>
            <td>Mark</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h2>Noticias</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/XLeTr655FV4" frameborder="0" allow="accelerometer; autoplay=1; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>




</div>
